body {
  background-color: gray;
  color: black;
}

ul {
  list-style: none;
}

a:hover {
  color: greenyellow;
  text-decoration: underline;
  cursor: pointer;
}

.bg-gray {
  background-color: gray;
}

.red {
  color: red;
}

.heart:hover {
  color: red;
}

.banner {
  width: 40vw;
}

.fas, .far {
  cursor: pointer;
}